
/* FONTES */

@font-face{
    font-family: GothamMedium;
    src: url(../fonts/GothamMedium.otf);
}

@font-face{
    font-family: GothamRegular;
    src: url(../fonts/GothamBookRegular.otf);
}

body{
    font-family: 'GothamMedium', Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header ul, header li{
    list-style: none;
}

header .logo{
    width: 120px;
    margin-left: 20px;
    cursor: pointer;
}

header .menu-mediun ul{
    display: flex;
}

header .menu-mediun li{
    margin: 0 10px;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}

header .menu-right ul{
    display: flex;
}

header .menu-right li{
    margin: 0 10px;
}

header .menu-right img{
    width: 20px;
}

/* MAIN */

main{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

main .modal-info{
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .modal-info h1{
    margin: 0;
    color: #393c41;
    font-size: 40px;
    font-weight: normal;
}

main .modal-info p{
    margin-top: 12px;
    color: gray;
}

main .modal-info a{
    color: #5c5e62;
    text-decoration: none;
    border-bottom: solid 1px black;
    box-shadow: 0 5px 5px -3px rgb(0, 0, 0, 0.5);
    transition: border-bottom 500ms;
}

main .modal-info a:hover{
    border-bottom: solid 2.5px black;
    box-shadow: none;
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
}

.botoes-area{
    display: flex;
}

footer .botoes-area div{
    width: 256px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0.6;
    background-color: #171a20;
    cursor: pointer;
}

footer .botoes-area #inventario{
    background-color: white;
    margin-left: 18px;
}

footer .botoes-area a{
    text-decoration: none;
}

footer .botoes-area .venda{
    color: white;
}

footer .botoes-area .existe{
    color: black;
}

@keyframes seta{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: 15px;
    }
    100%{
        margin-top: 0px;
    }
}

footer .seta-area{
    margin-top: 20px;
    height: 30px;
}

footer .seta-area img{
    height: 15px;
    animation-name: seta;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* MEDIA QUERIES */

@media (max-width: 1200px){
    header .menu-mediun{
        display: none;
    }

    header .menu-right{
        visibility: hidden;
    }

    header .menu-right .menu{
        visibility: visible;
        margin-right: 20px;
    }
}

@media (max-width: 600px){
    footer .botoes-area{
        flex-direction: column;
    }

    footer .botoes-area #inventario{
        margin-left: initial;
        margin-top: 20px;
    }

    footer .botoes-area div{
        width: calc(100vw - 30px);
    }
}

